.container {
  height: 100%;
  max-height: 500px;
  max-width: 400px;
  width: 90%;
  margin: auto;
  position: relative;
  margin-top: 16px;
  height: calc(100% - 44px);
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.nextButton {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 42px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 20px;
  background-color: #6f32ff;
  border-radius: 42px;
  line-height: 42px;
  cursor: pointer;
  transition: 0.3s;
}

.disabledNextButton {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 42px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 20px;
  background-color: rgba(103, 115, 131, 0.3);
  border-radius: 32px;
  line-height: 42px;
  cursor: default;
  transition: 0.3s;
}

.nextButton:hover {
  background-color: #3700b8;
}
