.container {
  height: auto;
  width: 85%;
  max-width: 1080px;
  margin: auto;
}

.itemContainer {
  height: 160px;
  width: 100%;
  margin-bottom: 24px;
  padding: 16px;
  background-color: white;
  border-radius: 16px;
}

.h2 {
  margin: 0 0 36px;
  font-weight: 500;
  font-size: 24px;
}
