.container {
  height: auto;
  width: 85%;
  max-width: 1080px;
  margin: auto;
}

.itemContainer {
  height: 160px;
  width: 100%;
  margin-bottom: 24px;
  padding: 16px;
  background-color: white;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  color: rgb(53, 53, 53);
}

.left {
  display: flex;
  flex-direction: row;
}

.imgContainer {
  height: 128px;
  width: 128px;
  background-color: rgb(218, 218, 218);
  margin-right: 16px;
}

.title {
  /* margin-bottom: 12px; */
}

.category {
  margin-bottom: 12px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.h2 {
  margin: 0 0 36px;
  font-weight: 400;
  font-size: 24px;
  color: rgb(34, 34, 34);
}
