.button {
  height: 40px;
  width: 108px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 0 12px;
  cursor: pointer;
  background-color: white;
  border-radius: 24px;
  transition: 0.3s;
  color: #9c9c9c;
}

.button:hover {
  background-color: rgb(179, 179, 179);
  color: white;
}

.button span {
  font-size: 18px;
  color: inherit;
}

/* .button span {
  font-size: 16px;
  color: rgb(162, 162, 162);
} */

.icon {
  height: 24px;
  margin-right: 12px;
}
