button {
  outline: none;
  border: none;
}

.App {
  background-color: #f4f5f8;
  position: relative;
}

.header {
  height: 96px;
  background-color: #f4f5f8;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1.5px rgb(227, 227, 227) solid;
  z-index: 10;
}

.header_home {
  height: 96px;
  background-color: #f4f5f8;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

.content {
  height: 100vh;
  padding-top: 160px;
  padding-bottom: 48px;
  overflow: auto;
}

@media only screen and (max-width: 500px) {
  .content {
    padding-top: 120px;
  }
}

.buttons {
  position: absolute;
  right: 40px;
  display: flex;
}

.buttonsMobile {
  display: none;
}

.homeButton {
  margin-left: 40px;
  font-weight: 600;
  font-size: 28px;
  cursor: pointer;
}

.homeButtonMobile {
  display: none;
}

.book {
  color: black;
}

.delight {
  color: #56d886;
}

.lightButton, .lightButtonMobile {
  height: 40px;
  width: 68px;
  font-weight: 600;
  color: white;
  background-color: #6f32ff;
  font-size: 18px;
  border: 1px white solid;
  border-radius: 24px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 24px;
}


.lightButton:hover {
  background-color: #3700b8;
}

.lightButtonMobile:hover {
  background-color: #3700b8;
}

::placeholder {
  color: #cdcdcd;
}

.inputContainer {
  margin-left: 32px;
  width: 360px;
  max-width: calc(100vw - 80px);
  display: flex;
  height: 36px;
  box-shadow: 0px 2px 6px 5px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  transform: translateY(0px);
}

.input {
  width: 100%;
  border-radius: 16px 0 0 16px;
  border: none;
  outline: none;
  height: 36px;
  color: #747474;
  font-size: 16px;
  padding: 0 16px;
}

.iconContainer {
  background-color: white;
  width: 40px;
  border-radius: 0 16px 16px 0;
  font-size: 28px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.iconContainer:hover {
  background-color: #6f32ff;
  color: white;
}

.headerInputContainer {
  display: flex;
}

.chatButton {
  position: absolute;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
}

.chatButton svg {
  font-size: 32px;
}

.chatContainer {
  position: fixed;
  bottom: 40px;
  right: 40px;
  max-height: calc(100vh - 200px);
  z-index: 100;
}

.innerChatContainer {
  position: relative;
}

.closeChatButton {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white !important;
  cursor: pointer;
  z-index: 100;
}

@media only screen and (max-width: 860px) {
  .homeButton {
    display: none;
  }

  .lightButton {
    display: none;
  }

  .inputContainer {
    margin-left: 24px;
    /* margin-right: 20px; */
    width: calc(100vw - 104px);
    display: flex;
    height: 36px;
    box-shadow: 0px 2px 6px 5px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
    transform: translateY(0px);
  }

  .homeButtonMobile {
    margin-left: 20px;
    font-weight: 600;
    font-size: 28px;
    cursor: pointer;
    display: block;
  }

  .buttonsMobile {
    position: absolute;
    right: 32px;
    display: flex;
  }

  .buttons {
    display: none;
  }
}

