.container {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  /* background-color: rgb(162, 162, 162);
  background-image: url("../../assets/background.jpg");
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-size: cover; */
  /* align-items: center; */
}

.content {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 640px;
  max-width: 80%;
}

.inputContainer {
  width: 100%;
  display: flex;
  height: 56px;
}

.h1 {
  color: white;
  font-size: 48px;
}

.iconContainer {
  background-color: white;
  width: 56px;
  border-radius: 0 12px 12px 0;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.iconContainer:hover {
  background-color: rgb(254, 131, 37);
}

.input {
  width: 100%;
  border-radius: 12px 0 0 12px;
  border: none;
  outline: none;
  height: 56px;
  font-size: 24px;
  padding: 0 24px;
}

.browseLink {
  font-size: 24px;
  color: white;
  align-self: flex-end;
  margin-top: 16px;
}

.browseLink a {
  color: rgb(86, 216, 134);
  text-decoration: none;
}
