.button {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif !important;
  transform: translateY(2px);
}

.buttonMobile {
  display: none;
}

@media only screen and (max-width: 860px) {
  .button {
    display: none !important;
  }
  .buttonMobile {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif !important;
    transform: translateY(2px);
    display: block;
  }
}
